.RoundButton {
    display: inline-block;
    margin-bottom: 1em;
    padding: 0 2em;
    background-color: #fff;
    font-size: 14pt;
    line-height: 6em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 15px 0 0 15px;
    border: 2px solid;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: box-shadow .25s;
    cursor: pointer;
}
.RoundButton:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.RoundButton.success {
    border-color: #8BC34A;
}
.RoundButton.warning {
    display: none;
    border-color: #FFEB3B;
}
