.hamburglar {
  float: right;
  transform: scale(0.6);
  position: relative;
  display: block;
  width: 68px;
  height: 68px;
  background: #03a9f4;
  -webkit-touch-callout: none;
  user-select: none; }

.path-burger {
  position: absolute;
  top: 0;
  left: 0;
  height: 68px;
  width: 68px;
  mask: url("#mask");
  -webkit-mask-box-image: url("https://raygun.io/upload/mask.svg"); }

.animate-path {
  position: absolute;
  top: 0;
  left: 0;
  width: 68px;
  height: 68px; }

.path-rotation {
  height: 34px;
  width: 34px;
  margin: 34px 34px 0 0;
  transform: rotate(0deg);
  transform-origin: 100% 0; }
  .path-rotation:before {
    content: '';
    display: block;
    width: 30px;
    height: 34px;
    margin: 0 4px 0 0;
    background: #fff; }

@keyframes rotate-out {
  0% {
    transform: rotate(0deg); }
  40% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes rotate-in {
  0% {
    transform: rotate(360deg); }
  40% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(0deg); } }
.hamburglar.is-open .path {
  animation: dash-in 0.6s linear normal;
  animation-fill-mode: forwards; }
.hamburglar.is-open .animate-path {
  animation: rotate-in 0.6s linear normal;
  animation-fill-mode: forwards; }

.hamburglar.is-closed .path {
  animation: dash-out 0.6s linear normal;
  animation-fill-mode: forwards; }
.hamburglar.is-closed .animate-path {
  animation: rotate-out 0.6s linear normal;
  animation-fill-mode: forwards; }

.path {
  stroke-dasharray: 240;
  stroke-dashoffset: 240;
  stroke-linejoin: round; }

@keyframes dash-in {
  0% {
    stroke-dashoffset: 240; }
  40% {
    stroke-dashoffset: 240; }
  100% {
    stroke-dashoffset: 0; } }
@keyframes dash-out {
  0% {
    stroke-dashoffset: 0; }
  40% {
    stroke-dashoffset: 240; }
  100% {
    stroke-dashoffset: 240; } }
.burger-icon {
  position: absolute;
  padding: 20px 16px;
  height: 68px;
  width: 68px; }

.burger-container {
  position: relative;
  height: 28px;
  width: 36px; }

.burger-bun-top,
.burger-bun-bot,
.burger-filling {
  position: absolute;
  display: block;
  height: 4px;
  width: 36px;
  border-radius: 2px;
  background: #fff; }

.burger-bun-top {
  top: 0;
  transform-origin: 34px 2px; }

.burger-bun-bot {
  bottom: 0;
  transform-origin: 34px 2px; }

.burger-filling {
  top: 12px; }

.burger-ring {
  position: absolute;
  top: 0;
  left: 0;
  width: 68px;
  height: 68px; }

.svg-ring {
  width: 68px;
  height: 68px; }

.hamburglar.is-open .burger-bun-top {
  animation: bun-top-out 0.6s linear normal;
  animation-fill-mode: forwards; }
.hamburglar.is-open .burger-bun-bot {
  animation: bun-bot-out 0.6s linear normal;
  animation-fill-mode: forwards; }

.hamburglar.is-closed .burger-bun-top {
  animation: bun-top-in 0.6s linear normal;
  animation-fill-mode: forwards; }
.hamburglar.is-closed .burger-bun-bot {
  animation: bun-bot-in 0.6s linear normal;
  animation-fill-mode: forwards; }

@keyframes bun-top-out {
  0% {
    left: 0;
    top: 0;
    transform: rotate(0deg); }
  20% {
    left: 0;
    top: 0;
    transform: rotate(15deg); }
  80% {
    left: -5px;
    top: 0;
    transform: rotate(-60deg); }
  100% {
    left: -5px;
    top: 1px;
    transform: rotate(-45deg); } }
@keyframes bun-bot-out {
  0% {
    left: 0;
    transform: rotate(0deg); }
  20% {
    left: 0;
    transform: rotate(-15deg); }
  80% {
    left: -5px;
    transform: rotate(60deg); }
  100% {
    left: -5px;
    transform: rotate(45deg); } }
@keyframes bun-top-in {
  0% {
    left: -5px;
    bottom: 0;
    transform: rotate(-45deg); }
  20% {
    left: -5px;
    bottom: 0;
    transform: rotate(-60deg); }
  80% {
    left: 0;
    bottom: 0;
    transform: rotate(15deg); }
  100% {
    left: 0;
    bottom: 1px;
    transform: rotate(0deg); } }
@keyframes bun-bot-in {
  0% {
    left: -5px;
    transform: rotate(45deg); }
  20% {
    left: -5px;
    bottom: 0;
    transform: rotate(60deg); }
  80% {
    left: 0;
    bottom: 0;
    transform: rotate(-15deg); }
  100% {
    left: 0;
    transform: rotate(0deg); } }
.hamburglar.is-open .burger-filling {
  animation: burger-fill-out 0.6s linear normal;
  animation-fill-mode: forwards; }

.hamburglar.is-closed .burger-filling {
  animation: burger-fill-in 0.6s linear normal;
  animation-fill-mode: forwards; }

@keyframes burger-fill-in {
  0% {
    width: 0;
    left: 36px; }
  40% {
    width: 0;
    left: 40px; }
  80% {
    width: 36px;
    left: -6px; }
  100% {
    width: 36px;
    left: 0; } }
@keyframes burger-fill-out {
  0% {
    width: 36px;
    left: 0; }
  20% {
    width: 42px;
    left: -6px; }
  40% {
    width: 0;
    left: 40px; }
  100% {
    width: 0;
    left: 36px; } }
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

html, body {
  height: 100%; }

a img {
  border: none; }

blockquote {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 75%; }
  @media screen and (min-width: 40em) {
    html {
      font-size: 87.5%; } }
  @media screen and (min-width: 50em) {
    html {
      font-size: 93.75%; } }
  @media screen and (min-width: 64em) {
    html {
      font-size: 106.25%; } }
  @media screen and (min-width: 100em) {
    html {
      font-size: 118.75%; } }

body {
  font-family: Georgia, serif;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  font-size: 1.33333rem; }
  @media screen and (min-width: 40em) {
    body {
      font-size: 1.21429rem; } }
  @media screen and (min-width: 50em) {
    body {
      font-size: 1.2rem; } }
  @media screen and (min-width: 64em) {
    body {
      font-size: 1.17647rem; } }
  @media screen and (min-width: 100em) {
    body {
      font-size: 1.15789rem; } }

a {
  -webkit-transition: color .1s, background-color .1s;
  -moz-transition: color .1s, background-color .1s;
  -ms-transition: color .1s, background-color .1s;
  -o-transition: color .1s, background-color .1s;
  transition: color .1s, background-color .1s;
  color: #0E58F5;
  text-decoration: none; }
  a:hover, a:active, a:focus {
    color: #0B348B;
    text-decoration: none; }

.typeset p a, .typeset li a {
  background-image: -webkit-linear-gradient(top, transparent 50%, #709cf9 50%);
  background-image: -moz-linear-gradient(top, transparent 50%, #709cf9 50%);
  background-image: -o-linear-gradient(top, transparent 50%, #709cf9 50%);
  background-image: linear-gradient(to bottom, transparent 50%, #709cf9 50%);
  background-position: 0 93%;
  background-repeat: repeat-x;
  background-size: 100% 0.15rem;
  text-shadow: 0.1rem 0 #FCFCFC, 0.15rem 0 #FCFCFC, -0.1rem 0 #FCFCFC, -0.15rem 0 #FCFCFC; }
  .typeset p a:hover, .typeset p a:active, .typeset p a:focus, .typeset li a:hover, .typeset li a:active, .typeset li a:focus {
    background-image: -webkit-linear-gradient(top, transparent 50%, #1257ea 50%);
    background-image: -moz-linear-gradient(top, transparent 50%, #1257ea 50%);
    background-image: -o-linear-gradient(top, transparent 50%, #1257ea 50%);
    background-image: linear-gradient(to bottom, transparent 50%, #1257ea 50%); }
.typeset p {
  -webkit-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
  -moz-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
  -ms-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
  -o-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
  font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
  line-height: 2rem;
  margin-bottom: 1.43999rem;
  padding-top: 0.56001rem; }
  @media screen and (min-width: 40em) {
    .typeset p {
      margin-bottom: 1.4007rem;
      padding-top: 0.5993rem; } }
  @media screen and (min-width: 50em) {
    .typeset p {
      margin-bottom: 1.39599rem;
      padding-top: 0.60401rem; } }
  @media screen and (min-width: 64em) {
    .typeset p {
      margin-bottom: 1.38823rem;
      padding-top: 0.61177rem; } }
  @media screen and (min-width: 100em) {
    .typeset p {
      margin-bottom: 1.3821rem;
      padding-top: 0.6179rem; } }
.typeset h1, .typeset h2, .typeset h3, .typeset h4, .typeset h5, .typeset h6 {
  -webkit-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  -moz-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  -ms-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  -o-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  color: #2E2E2E;
  font-family: Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700; }
.typeset h1, .typeset .alpha {
  line-height: 3rem;
  font-size: 2.33333rem;
  margin-bottom: 0.25832rem;
  padding-top: 0.74168rem; }
  @media screen and (min-width: 40em) {
    .typeset h1, .typeset .alpha {
      font-size: 2.14286rem;
      margin-bottom: 0.19642rem;
      padding-top: 0.80358rem; } }
  @media screen and (min-width: 50em) {
    .typeset h1, .typeset .alpha {
      font-size: 2.13333rem;
      margin-bottom: 0.19332rem;
      padding-top: 0.80668rem; } }
  @media screen and (min-width: 64em) {
    .typeset h1, .typeset .alpha {
      font-size: 2.35294rem;
      margin-bottom: 0.2647rem;
      padding-top: 0.7353rem; } }
  @media screen and (min-width: 100em) {
    .typeset h1, .typeset .alpha {
      font-size: 2.63158rem;
      margin-bottom: 0.35525rem;
      padding-top: 0.64475rem; } }
.typeset h2, .typeset .beta {
  line-height: 3rem;
  font-size: 2.08333rem;
  margin-bottom: 0.17707rem;
  padding-top: 0.82293rem; }
  @media screen and (min-width: 40em) {
    .typeset h2, .typeset .beta {
      font-size: 1.9rem;
      margin-bottom: 0.11749rem;
      padding-top: 0.88251rem; } }
  @media screen and (min-width: 50em) {
    .typeset h2, .typeset .beta {
      font-size: 1.87333rem;
      margin-bottom: 0.10882rem;
      padding-top: 0.89118rem; } }
  @media screen and (min-width: 64em) {
    .typeset h2, .typeset .beta {
      font-size: 2.08824rem;
      margin-bottom: 0.17867rem;
      padding-top: 0.82133rem; } }
  @media screen and (min-width: 100em) {
    .typeset h2, .typeset .beta {
      font-size: 2.31053rem;
      margin-bottom: 0.25091rem;
      padding-top: 0.74909rem; } }
.typeset h3, .typeset .gamma {
  line-height: 3rem;
  font-size: 1.86667rem;
  margin-bottom: 0.10666rem;
  padding-top: 0.89334rem; }
  @media screen and (min-width: 40em) {
    .typeset h3, .typeset .gamma {
      font-size: 1.71429rem;
      margin-bottom: 0.05713rem;
      padding-top: 0.94287rem; } }
  @media screen and (min-width: 50em) {
    .typeset h3, .typeset .gamma {
      font-size: 1.70667rem;
      margin-bottom: 0.05466rem;
      padding-top: 0.94534rem; } }
  @media screen and (min-width: 64em) {
    .typeset h3, .typeset .gamma {
      font-size: 1.76471rem;
      margin-bottom: 0.07352rem;
      padding-top: 0.92648rem; } }
  @media screen and (min-width: 100em) {
    .typeset h3, .typeset .gamma {
      font-size: 1.85789rem;
      margin-bottom: 0.10381rem;
      padding-top: 0.89619rem; } }
.typeset h4, .typeset .delta {
  line-height: 2rem;
  font-size: 1.66667rem;
  margin-bottom: -0.45834rem;
  padding-top: 0.45834rem; }
  @media screen and (min-width: 40em) {
    .typeset h4, .typeset .delta {
      font-size: 1.52143rem;
      margin-bottom: -0.50555rem;
      padding-top: 0.50555rem; } }
  @media screen and (min-width: 50em) {
    .typeset h4, .typeset .delta {
      font-size: 1.5rem;
      margin-bottom: -0.51251rem;
      padding-top: 0.51251rem; } }
  @media screen and (min-width: 64em) {
    .typeset h4, .typeset .delta {
      font-size: 1.57059rem;
      margin-bottom: -0.48957rem;
      padding-top: 0.48957rem; } }
  @media screen and (min-width: 100em) {
    .typeset h4, .typeset .delta {
      font-size: 1.63684rem;
      margin-bottom: -0.46804rem;
      padding-top: 0.46804rem; } }
.typeset h5, .typeset .epsilon {
  line-height: 2rem;
  font-size: 1.49167rem;
  margin-bottom: -0.51522rem;
  padding-top: 0.51522rem; }
  @media screen and (min-width: 40em) {
    .typeset h5, .typeset .epsilon {
      font-size: 1.37143rem;
      margin-bottom: -0.5543rem;
      padding-top: 0.5543rem; } }
  @media screen and (min-width: 50em) {
    .typeset h5, .typeset .epsilon {
      font-size: 1.36667rem;
      margin-bottom: -0.55584rem;
      padding-top: 0.55584rem; } }
  @media screen and (min-width: 64em) {
    .typeset h5, .typeset .epsilon {
      font-size: 1.32353rem;
      margin-bottom: -0.56986rem;
      padding-top: 0.56986rem; } }
  @media screen and (min-width: 100em) {
    .typeset h5, .typeset .epsilon {
      font-size: 1.31579rem;
      margin-bottom: -0.57238rem;
      padding-top: 0.57238rem; } }
.typeset h6, .typeset .zeta {
  line-height: 2rem;
  font-size: 1.33333rem;
  margin-bottom: -0.56668rem;
  padding-top: 0.56668rem; }
  @media screen and (min-width: 40em) {
    .typeset h6, .typeset .zeta {
      font-size: 1.21429rem;
      margin-bottom: -0.60537rem;
      padding-top: 0.60537rem; } }
  @media screen and (min-width: 50em) {
    .typeset h6, .typeset .zeta {
      font-size: 1.2rem;
      margin-bottom: -0.61001rem;
      padding-top: 0.61001rem; } }
  @media screen and (min-width: 64em) {
    .typeset h6, .typeset .zeta {
      font-size: 1.17647rem;
      margin-bottom: -0.61766rem;
      padding-top: 0.61766rem; } }
  @media screen and (min-width: 100em) {
    .typeset h6, .typeset .zeta {
      font-size: 1.15789rem;
      margin-bottom: -0.62369rem;
      padding-top: 0.62369rem; } }
.typeset ul, .typeset ol {
  line-height: 2rem;
  margin-bottom: 1.43999rem;
  padding-top: 0.56001rem; }
  @media screen and (min-width: 40em) {
    .typeset ul, .typeset ol {
      margin-bottom: 1.4007rem;
      padding-top: 0.5993rem; } }
  @media screen and (min-width: 50em) {
    .typeset ul, .typeset ol {
      margin-bottom: 1.39599rem;
      padding-top: 0.60401rem; } }
  @media screen and (min-width: 64em) {
    .typeset ul, .typeset ol {
      margin-bottom: 1.38823rem;
      padding-top: 0.61177rem; } }
  @media screen and (min-width: 100em) {
    .typeset ul, .typeset ol {
      margin-bottom: 1.3821rem;
      padding-top: 0.6179rem; } }
  .typeset ul li, .typeset ol li {
    -webkit-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
    -moz-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
    -ms-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
    -o-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
    font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
    margin-left: 2rem; }
    @media screen and (min-width: 40em) {
      .typeset ul li, .typeset ol li {
        margin-left: 0; } }
.typeset b, .typeset strong, .typeset .bold {
  font-weight: 700; }
.typeset em, .typeset i, .typeset .italic {
  font-style: italic; }
.typeset small, .typeset .caption {
  font-family: Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.06667rem; }
  @media screen and (min-width: 40em) {
    .typeset small, .typeset .caption {
      font-size: 0.97143rem; } }
  @media screen and (min-width: 50em) {
    .typeset small, .typeset .caption {
      font-size: 0.96rem; } }
  @media screen and (min-width: 64em) {
    .typeset small, .typeset .caption {
      font-size: 0.88235rem; } }
  @media screen and (min-width: 100em) {
    .typeset small, .typeset .caption {
      font-size: 0.82105rem; } }
.typeset small {
  line-height: 1rem; }
.typeset .caption {
  color: #BDC8CC;
  line-height: 2rem;
  margin-bottom: 1.34666rem;
  padding-top: 0.65334rem; }
  @media screen and (min-width: 40em) {
    .typeset .caption {
      margin-bottom: 1.3157rem;
      padding-top: 0.6843rem; } }
  @media screen and (min-width: 50em) {
    .typeset .caption {
      margin-bottom: 1.31199rem;
      padding-top: 0.68801rem; } }
  @media screen and (min-width: 64em) {
    .typeset .caption {
      margin-bottom: 1.28675rem;
      padding-top: 0.71325rem; } }
  @media screen and (min-width: 100em) {
    .typeset .caption {
      margin-bottom: 1.26683rem;
      padding-top: 0.73317rem; } }
.typeset h1 + .caption, .typeset .alpha + .caption, .typeset h2 + .caption, .typeset .beta + .caption, .typeset h3 + .caption, .typeset .gamma + .caption {
  margin-top: -1rem; }
.typeset .delta + .caption, .typeset .epsilon + .caption, .typeset .zeta + .caption {
  margin-top: 0rem; }
.typeset blockquote p {
  border-left: 0.15rem solid #0E58F5;
  font-style: italic;
  padding-left: 1rem;
  margin-bottom: 1.87999rem;
  padding-bottom: 0.56001rem; }
  @media screen and (min-width: 40em) {
    .typeset blockquote p {
      margin-bottom: 1.80142rem;
      padding-bottom: 0.5993rem; } }
  @media screen and (min-width: 50em) {
    .typeset blockquote p {
      margin-bottom: 1.79199rem;
      padding-bottom: 0.60401rem; } }
  @media screen and (min-width: 64em) {
    .typeset blockquote p {
      margin-bottom: 1.77646rem;
      padding-bottom: 0.61177rem; } }
  @media screen and (min-width: 100em) {
    .typeset blockquote p {
      margin-bottom: 1.7642rem;
      padding-bottom: 0.6179rem; } }
@media screen and (min-width: 40em) {
  .typeset blockquote {
    margin-left: -1rem; } }
.typeset hr {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#BDC8CC));
  background-image: -webkit-linear-gradient(top, transparent 50%, #BDC8CC 50%);
  background-image: linear-gradient(to bottom, transparent 50%, #BDC8CC 50%);
  background-position: 0 50%;
  background-repeat: repeat-x;
  background-size: 100% 0.15rem;
  border: 0;
  margin: 0;
  padding-bottom: 3rem;
  padding-top: 3rem; }
.typeset code, .typeset pre {
  background-color: #F5F4F2;
  font-family: Menlo, monospace; }
.typeset pre {
  display: block;
  margin-bottom: 2rem;
  padding: 1rem;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word; }
.typeset code {
  line-height: 1rem;
  font-size: 1.06667rem; }
  @media screen and (min-width: 40em) {
    .typeset code {
      font-size: 0.97143rem; } }
  @media screen and (min-width: 50em) {
    .typeset code {
      font-size: 0.96rem; } }
  @media screen and (min-width: 64em) {
    .typeset code {
      font-size: 0.88235rem; } }
  @media screen and (min-width: 100em) {
    .typeset code {
      font-size: 0.82105rem; } }
.typeset .upper {
  letter-spacing: 0.1rem;
  text-transform: uppercase; }
.typeset .small-caps {
  -webkit-font-feature-settings: 'smcp' 1, 'kern' 1;
  -moz-font-feature-settings: 'smcp' 1, 'kern' 1;
  -ms-font-feature-settings: 'smcp' 1, 'kern' 1;
  -o-font-feature-settings: 'smcp' 1, 'kern' 1;
  font-feature-settings: 'smcp' 1, 'kern' 1;
  letter-spacing: 0.1rem; }
.typeset .lining-numerals {
  -webkit-font-feature-settings: 'lnum' 1, 'kern' 1;
  -moz-font-feature-settings: 'lnum' 1, 'kern' 1;
  -ms-font-feature-settings: 'lnum' 1, 'kern' 1;
  -o-font-feature-settings: 'lnum' 1, 'kern' 1;
  font-feature-settings: 'lnum' 1, 'kern' 1; }
.typeset .oldstyle-numerals {
  -webkit-font-feature-settings: 'onum' 1, 'kern' 1;
  -moz-font-feature-settings: 'onum' 1, 'kern' 1;
  -ms-font-feature-settings: 'onum' 1, 'kern' 1;
  -o-font-feature-settings: 'onum' 1, 'kern' 1;
  font-feature-settings: 'onum' 1, 'kern' 1; }

.section {
  margin: 0 auto;
  position: relative;
  width: 94%; }
  .section:before, .section:after {
    display: table;
    content: ""; }
  .section:after {
    clear: both; }
  @media screen and (min-width: 64em) {
    .section {
      max-width: 64.70588rem; } }
  @media screen and (min-width: 100em) {
    .section {
      max-width: 68.42105rem; } }

.single {
  margin: 0 auto;
  max-width: 41.66667rem; }
  @media screen and (min-width: 40em) {
    .single {
      max-width: 39.28571rem; } }
  @media screen and (min-width: 50em) {
    .single {
      max-width: 40rem; } }
  @media screen and (min-width: 64em) {
    .single {
      max-width: 40rem; } }
  @media screen and (min-width: 100em) {
    .single {
      max-width: 39.47368rem; } }

.column {
  margin: 0 auto;
  width: 100%;
  max-width: 41.66667rem; }
  @media screen and (min-width: 40em) {
    .column {
      float: left;
      margin: inherit;
      max-width: auto;
      padding-left: 1rem;
      padding-right: 1rem; } }
  @media screen and (min-width: 64em) {
    .column {
      padding-left: 2rem;
      padding-right: 2rem; } }

@media screen and (min-width: 40em) {
  .column--duo {
    width: 50%; } }

@media screen and (min-width: 40em) {
  .column--trio {
    width: 33.333%; } }

@media screen and (min-width: 40em) {
  .column--quad {
    width: 50%; } }
@media screen and (min-width: 50em) {
  .column--quad {
    width: 25%; } }

@media screen and (min-width: 40em) {
  .column--main {
    max-width: 65%; } }
@media screen and (min-width: 50em) {
  .column--main {
    max-width: 65%; } }
@media screen and (min-width: 64em) {
  .column--main {
    max-width: 65%; } }
@media screen and (min-width: 100em) {
  .column--main {
    max-width: 63.53846%; } }

@media screen and (min-width: 40em) {
  .column--sidebar {
    padding-right: 2rem;
    max-width: 35%; } }
@media screen and (min-width: 50em) {
  .column--sidebar {
    max-width: 35%; } }
@media screen and (min-width: 64em) {
  .column--sidebar {
    padding-right: 4rem;
    max-width: 35%; } }
@media screen and (min-width: 100em) {
  .column--sidebar {
    max-width: 36.46154%; } }

@media screen and (min-width: 40em) {
  .column--main + .column--sidebar {
    padding-left: 2rem;
    padding-right: 1rem; } }
@media screen and (min-width: 64em) {
  .column--main + .column--sidebar {
    padding-left: 4rem;
    padding-right: 2rem; } }

@media screen and (min-width: 64em) {
  .column--trio p, .column--trio li,
  .column--quad p,
  .column--quad li,
  .column--sidebar p,
  .column--sidebar li {
    line-height: 2rem;
    font-size: 0.99412rem;
    margin-bottom: 1.32805rem;
    padding-top: 0.67195rem; } }
@media screen and (min-width: 100em) {
  .column--trio p, .column--trio li,
  .column--quad p,
  .column--quad li,
  .column--sidebar p,
  .column--sidebar li {
    line-height: 2rem;
    font-size: 0.92632rem;
    margin-bottom: 1.30567rem;
    padding-top: 0.69433rem; } }

@media screen and (min-width: 40em) {
  .column--right {
    max-width: 65%;
    margin-left: 35%; } }
@media screen and (min-width: 50em) {
  .column--right {
    max-width: 65%;
    margin-left: 35%; } }
@media screen and (min-width: 64em) {
  .column--right {
    max-width: 65%;
    margin-left: 35%; } }
@media screen and (min-width: 100em) {
  .column--right {
    max-width: 63.53846%;
    margin-left: 36.46154%; } }
@media screen and (min-width: 40em) {
  .column--right .sidenote {
    left: 0;
    padding-left: 1rem;
    padding-right: 2rem;
    position: absolute;
    max-width: 35%; } }
@media screen and (min-width: 50em) {
  .column--right .sidenote {
    max-width: 35%; } }
@media screen and (min-width: 64em) {
  .column--right .sidenote {
    padding-right: 4rem;
    max-width: 35%; } }
@media screen and (min-width: 100em) {
  .column--right .sidenote {
    padding-left: 2rem;
    max-width: 36.46154%; } }

@media screen and (min-width: 40em) {
  .column--left {
    max-width: 65%; } }
@media screen and (min-width: 50em) {
  .column--left {
    max-width: 65%; } }
@media screen and (min-width: 64em) {
  .column--left {
    max-width: 65%; } }
@media screen and (min-width: 100em) {
  .column--left {
    max-width: 63.53846%; } }
@media screen and (min-width: 40em) {
  .column--left .sidenote {
    padding-left: 2rem;
    padding-right: 1rem;
    position: absolute;
    max-width: 35%;
    left: 65%; } }
@media screen and (min-width: 50em) {
  .column--left .sidenote {
    max-width: 35%;
    left: 65%; } }
@media screen and (min-width: 64em) {
  .column--left .sidenote {
    padding-left: 4rem;
    max-width: 35%;
    left: 65%; } }
@media screen and (min-width: 100em) {
  .column--left .sidenote {
    padding-right: 2rem;
    max-width: 36.46154%;
    left: 63.53846%; } }

*,
*:before,
*:after {
  box-sizing: border-box; }

.panel {
  z-index: 100;
  margin-bottom: 0;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
  .panel.panel-float {
    background-color: transparent;
    box-shadow: none; }

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #03a9f4; }

.h1,
.h2,
.h3,
.h4 {
  display: block; }

.h1 {
  font-size: 36pt; }

.h2 {
  margin-bottom: 10pt;
  font-size: 28pt; }

.h3 {
  font-size: 20pt; }

.h4 {
  font-size: 16pt;
  font-weight: lighter; }

.app-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden; }

.app #map {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.app-ui {
  z-index: 100; }
  .app-ui .header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 10px;
    width: 100%;
    height: 60px;
    z-index: 100;
    text-align: right;
    background-color: rgba(255, 255, 255, 0.85); }
    @media screen and (max-width: 640px) {
      .app-ui .header {
        height: 40px; } }
    .app-ui .header h1 {
      position: absolute;
      left: -9999px;
      text-indent: -9999px;
      margin: 0;
      padding: 0;
      text-transform: uppercase;
      line-height: 60px;
      overflow: hidden; }
  .app-ui .logo {
    float: left;
    margin-top: 8px;
    width: 160px;
    height: 40px;
    text-align: left; }
    @media screen and (max-width: 640px) {
      .app-ui .logo {
        margin-top: 6px;
        width: 100px; } }
    .app-ui .logo img {
      width: 100%;
      max-width: 100%; }
  .app-ui .menu-toggle {
    float: right;
    margin-top: 6px;
    width: 46px;
    height: 46px; }
    .app-ui .menu-toggle img {
      width: 100%;
      height: 100%; }
    @media screen and (max-width: 640px) {
      .app-ui .menu-toggle {
        width: 28px;
        height: 28px; } }

.dash-select {
  position: absolute;
  right: 60px;
  bottom: 20px;
  z-index: 100;
  background-color: transparent;
  width: 96px;
  text-align: center; }
  .dash-select > a {
    box-sizing: border-box;
    display: inline-block;
    margin: 5pt 20pt;
    padding: 10pt;
    width: 96px;
    height: 96px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16), 0 1px 4px 0 rgba(0, 0, 0, 0.12);
    vertical-align: bottom;
    cursor: pointer; }
    .dash-select > a.active {
      background-color: #03a9f4; }
    .dash-select > a img {
      max-width: 80%; }
    @media (max-width: 640px) {
      .dash-select > a {
        padding: 5pt;
        width: 42pt;
        height: 42pt; } }
  @media (max-width: 700px) {
    .dash-select {
      right: 5pt; } }
  .dash-select .add-obstacle img {
    margin-top: 10px; }
  .dash-select .routing img {
    margin-top: 5px; }

.panel-route {
  position: absolute;
  left: 0;
  bottom: -144px;
  z-index: 150;
  width: 400px;
  height: 144px;
  -webkit-transition: bottom .3s;
  -moz-transition: bottom .3s;
  -ms-transition: bottom .3s;
  -o-transition: bottom .3s;
  transition: bottom .3s;
  overflow: hidden; }
  @media screen and (max-width: 640px) {
    .panel-route {
      width: 100%; } }
  .panel-route.active {
    bottom: 0; }
  .panel-route button {
    position: absolute;
    padding: 0;
    top: 12px;
    right: -24px;
    width: 24px;
    height: 24px;
    background-color: #53a83f;
    border: 0;
    border-radius: 24px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
    -webkit-transition: background-color .2s, border .2s, right .2s, top .2s;
    -moz-transition: background-color .2s, border .2s, right .2s, top .2s;
    -ms-transition: background-color .2s, border .2s, right .2s, top .2s;
    -o-transition: background-color .2s, border .2s, right .2s, top .2s;
    transition: background-color .2s, border .2s, right .2s, top .2s; }
    .panel-route button.active {
      right: 5px; }
    .panel-route button.set {
      background-color: #fff;
      border: 1px solid #000;
      box-shadow: none; }
    .panel-route button.error {
      background-color: #e00032; }
    .panel-route button img {
      max-width: 100%; }
  .panel-route .calculate-route {
    position: relative;
    right: 0;
    top: 0;
    width: 100%;
    height: 48px;
    text-align: center;
    background-color: #03a9f4;
    color: #fff;
    border-radius: 0;
    cursor: pointer; }

.route-address {
  position: relative;
  width: 100%;
  height: 48px;
  border-bottom: 2px solid #fff; }

.route-point-name {
  position: absolute;
  top: 0;
  left: 0;
  width: 56px;
  height: 48px;
  font-size: 12px;
  line-height: 48px;
  text-align: center;
  background-color: #03a9f4;
  text-transform: uppercase; }
  .route-point-name span {
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    margin-left: -14px;
    margin-top: -14px;
    width: 28px;
    height: 28px;
    font-size: 18px;
    line-height: 26px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 36px; }

.route-address-input {
  padding-left: 64px;
  width: 400px;
  height: 48px;
  border: 0;
  font-size: 14px;
  line-height: 48px;
  outline: none;
  border: 0 solid #03a9f4;
  -webkit-transition: border-width .2s;
  -moz-transition: border-width .2s;
  -ms-transition: border-width .2s;
  -o-transition: border-width .2s;
  transition: border-width .2s; }
  .route-address-input:focus {
    border-width: 2px; }
  .route-address-input:active {
    border-width: 4px; }

.panel-obstacle {
  position: absolute;
  left: 0;
  bottom: -200px;
  width: 100%;
  height: 150px;
  z-index: 150;
  -webkit-transition: right .3s;
  -moz-transition: right .3s;
  -ms-transition: right .3s;
  -o-transition: right .3s;
  transition: right .3s; }
  @media screen and (max-width: 400px) {
    .panel-obstacle {
      width: 100%; } }
  .panel-obstacle.active {
    bottom: 0; }
  .panel-obstacle .button-file {
    width: 100%;
    height: 120px;
    line-height: 120px; }
  .panel-obstacle .obstacle-confirm {
    width: 100%;
    background-color: #53a83f; }
  .panel-obstacle .send-obstacle {
    display: block;
    width: 100%;
    height: 120px;
    line-height: 120px;
    background-color: #53a83f; }
  .panel-obstacle .obstacle-cancel {
    margin-left: 10px;
    width: 130px; }

.panel-header {
  height: 96px; }
  @media screen and (max-width: 400px) {
    .panel-header {
      height: auto; } }
  .panel-header h1 {
    margin: 0;
    padding: 10px 20px; }
    @media screen and (max-width: 400px) {
      .panel-header h1 {
        height: auto;
        font-size: 18px; } }

.button {
  font-weight: bold;
  text-align: center;
  border: 0;
  cursor: pointer; }
  .button.big {
    padding: 20px;
    background-color: #53a83f;
    border: 0;
    font-size: 16px; }

.button-file {
  display: block;
  position: relative;
  background-color: #03a9f4; }
  .button-file input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    overflow: hidden;
    width: 100%; }

.panel-multistep [class^=step] {
  display: none;
  width: 100%;
  height: 150px; }
.panel-multistep .step1 {
  display: block; }
  .panel-multistep .step1 button {
    width: 100%;
    height: 120px;
    line-height: 120px;
    text-align: center; }
.panel-multistep .description {
  padding-left: 10px;
  height: 30px;
  line-height: 30px; }

.close-panel {
  position: absolute;
  bottom: 158px;
  left: -48px;
  z-index: 50;
  width: 48px;
  height: 48px;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -webkit-transition: left .3s;
  -moz-transition: left .3s;
  -ms-transition: left .3s;
  -o-transition: left .3s;
  transition: left .3s; }
  .close-panel img {
    position: relative;
    left: 4px;
    top: 4px;
    width: 40px;
    height: 40px; }
  .close-panel.active {
    left: 20px; }

.intro {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 200;
  width: 100%;
  padding: 90pt 0 0;
  text-align: center; }
  .intro a {
    display: block; }
  .intro .shadow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.3); }

.intro__left,
.intro__right {
  position: relative;
  z-index: 150;
  float: left;
  width: 50%;
  height: 150px;
  padding: 15pt 10pt;
  background-color: rgba(255, 255, 255, 0.85);
  color: #212121;
  cursor: pointer; }
  .intro__left a,
  .intro__right a {
    color: #03a9f4; }
  @media (max-width: 640px) {
    .intro__left,
    .intro__right {
      padding: 10pt 5pt;
      height: 150pt; }
      .intro__left .h2,
      .intro__right .h2 {
        font-size: 16pt; }
      .intro__left .h4,
      .intro__right .h4 {
        font-size: 12pt; } }

.intro_left {
  border-right: 1px solid; }

.intro__right {
  border-left: 1px solid; }

.intro__full {
  display: none;
  position: relative;
  z-index: 150;
  width: 100%;
  max-height: 800px;
  padding: 15pt 20%;
  text-align: left;
  overflow: scroll;
  font-size: 22px;
  font-family: Georgia,Cambria,"Times New Roman",Times,serif; }
  @media screen and (max-width: 400px) {
    .intro__full {
      padding: 15pt 10pt; } }
  .intro__full a {
    display: inline; }
  .intro__full button.toggle {
    width: 100%;
    padding: 10pt;
    font-size: 24px;
    background-color: #03a9f4;
    color: #fff;
    border: 0;
    cursor: pointer; }

.toggle-content {
  display: none; }

.osm-form-container {
  display: inline-block;
  position: relative; }

.open-osm-form {
  display: inline-block;
  position: relative;
  top: -1.3821rem;
  margin-bottom: 3rem;
  color: #03a9f4;
  text-shadow: 0.1rem 0 #FCFCFC, 0.15rem 0 #FCFCFC, -0.1rem 0 #FCFCFC, -0.15rem 0 #FCFCFC;
  background-image: linear-gradient(to bottom, transparent 50%, #03a9f4 50%);
  background-position: 0 93%;
  background-repeat: repeat-x;
  background-size: 100% 0.15rem;
  cursor: pointer; }

.osm-form {
  display: none;
  position: absolute;
  top: 0;
  padding: 2pt; }
  .osm-form input {
    float: left;
    padding: 0 8pt;
    font-size: 18px;
    height: 36px;
    line-height: 36px; }
  .osm-form button {
    position: relative;
    height: 36px;
    padding: 0 8pt;
    background-color: #03a9f4;
    border: 0;
    color: #fff;
    font-size: 18px;
    line-height: 27px; }

.route-icon {
  text-align: center;
  line-height: 20px;
  font-weight: bold;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 0 1px rgba(0, 0, 0, 0.1); }

.route-icon-obstacle {
  background-color: #ff2a00;
  color: #fff; }

/*# sourceMappingURL=style.css.map */
