@import url(forms.css);
.clearfix:before, .tools:before, .tools .routing:before, .clearfix:after, .tools:after, .tools .routing:after {
  content: " ";
  display: table; }
.clearfix:after, .tools:after, .tools .routing:after {
  clear: both; }

* {
  box-sizing: border-box; }

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

a {
  text-decoration: none; }

button {
  cursor: pointer; }

input[type=text] {
  background-color: transparent; }

/* Space out content a bit */
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif; }

/* Custom page header */
.header {
  position: absolute;
  top: 10pt;
  left: 50%;
  z-index: 100;
  margin-left: -30%;
  padding: 10pt 0 0;
  width: 60%;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.22); }
  @media screen and (max-width: 800px) {
    .header {
      height: 30pt; } }
  .header .menu-btn {
    display: block;
    position: absolute;
    top: 10pt;
    height: 30pt;
    width: 30pt;
    background: url(../images/menu.svg);
    background-size: cover; }
  .header .menu-btn.left {
    left: 10pt; }
  .header .menu-btn.right {
    right: 10pt; }
  .header.opened .menu-btn {
    background: url(../images/menu-green.svg);
    background-size: cover; }
  .header.opened .menu {
    max-height: 100pt; }
  .header img {
    display: block;
    position: relative;
    left: 50%;
    margin-left: -100px;
    width: 200px;
    height: 30pt;
    max-height: 100%; }
  .header .menu {
    overflow: hidden;
    margin: 15pt 0 0 0;
    padding: 0;
    max-height: 0;
    list-style: none; }
  .header .menu-item {
    padding: 0;
    text-align: left; }
    .header .menu-item a {
      display: block;
      padding: 0 60pt;
      color: #fff;
      line-height: 40pt;
      background-color: #12c700;
      text-transform: uppercase;
      -webkit-transition: background-color 0.3s;
      -moz-transition: background-color 0.3s;
      -ms-transition: background-color 0.3s;
      -o-transition: background-color 0.3s;
      transition: background-color 0.3s; }
      .header .menu-item a:hover, .header .menu-item a:active {
        background-color: #64dd17; }
  .header h3 {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    width: 400px;
    line-height: 30pt;
    padding-bottom: 0;
    background: url(../images/logo.svg);
    background-size: cover;
    color: transparent;
    font-size: 16pt;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800; }
    .header h3 sup {
      text-transform: lowercase;
      font-weight: normal; }

@media screen and (max-width: 800px) {
  .header {
    top: 0;
    left: 0;
    margin-left: 0;
    padding: 6pt 0 0 0;
    width: 100%; }
    .header .menu-btn {
      top: 6pt;
      width: 15pt;
      height: 15pt; }
    .header .menu-btn.left {
      display: none; }
    .header img {
      left: 10pt;
      margin-left: 0;
      width: auto;
      height: 15pt; }
    .header ul.menu {
      margin-top: 5pt; }
    .header .menu-item a {
      padding: 0 10pt;
      font-size: 10pt;
      line-height: 30pt; }
    .header h3 {
      font-size: 12pt;
      line-height: 25pt; } }
.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  overflow: hidden; }

#map-canvas {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
  @media screen and (max-width: 800px) {
    #map-canvas {
      top: 25pt; } }

.tools {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 90%;
  height: 180pt;
  z-index: 150;
  pointer-events: none; }
  @media screen and (max-width: 800px) {
    .tools {
      width: 100%; } }
  .tools .tools-list {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 150;
    width: 50pt;
    height: 180pt; }
    @media screen and (max-width: 800px) {
      .tools .tools-list {
        top: 5pt; } }
    .tools .tools-list > button {
      margin-bottom: 10pt;
      width: 40pt;
      height: 40pt;
      border-radius: 50%;
      background-color: #fff;
      text-align: center;
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.22);
      border: none;
      pointer-events: all; }
      .tools .tools-list > button img {
        margin: 9pt auto 10pt auto;
        width: 20pt;
        height: 20pt; }
  .tools .routing, .tools .obstacle {
    position: absolute;
    bottom: -100%;
    right: 60pt;
    z-index: 100;
    height: 100%;
    max-width: 640pt;
    padding: 30pt 20pt 20pt 20pt;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.22);
    pointer-events: all; }
    @media screen and (max-width: 800px) {
      .tools .routing, .tools .obstacle {
        right: 0;
        width: 100%;
        height: 80pt;
        max-width: auto;
        padding: 15pt 10pt 10pt 10pt; } }
    .tools .routing button.close, .tools .obstacle button.close {
      position: absolute;
      top: 5pt;
      right: 5pt;
      z-index: 200;
      margin: 0;
      padding: 0;
      width: 21pt;
      height: 21pt;
      background-color: transparent;
      border: none; }
      @media screen and (max-width: 800px) {
        .tools .routing button.close, .tools .obstacle button.close {
          top: 5pt;
          right: 5pt;
          width: 12pt;
          height: 12pt; } }
      .tools .routing button.close img, .tools .obstacle button.close img {
        display: block;
        margin-left: 3pt;
        width: 15pt; }
        @media screen and (max-width: 800px) {
          .tools .routing button.close img, .tools .obstacle button.close img {
            width: 10pt; } }
  .tools .routing {
    width: 560pt;
    background-color: #03a9f4; }
    @media screen and (max-width: 800px) {
      .tools .routing {
        width: 100%; } }
    .tools .routing .group {
      height: 30pt; }
      @media screen and (max-width: 800px) {
        .tools .routing .group {
          height: 15pt; } }
    .tools .routing label {
      color: #f5f5f5; }
    .tools .routing input {
      border-color: #f5f5f5; }
    .tools .routing .bar {
      background-color: #f5f5f5; }
    .tools .routing button.get-route {
      margin-left: 20pt;
      width: 97pt;
      height: 97pt;
      background-color: transparent;
      border: 1px solid #f5f5f5;
      border-radius: 50%; }
      @media screen and (max-width: 800px) {
        .tools .routing button.get-route {
          margin-top: 12pt;
          width: 40pt;
          height: 40pt; } }
      .tools .routing button.get-route img {
        width: 40pt; }
        @media screen and (max-width: 800px) {
          .tools .routing button.get-route img {
            width: 16pt; } }
  .tools .obstacle {
    background-color: #e00032;
    color: #fff; }
    @media screen and (max-width: 800px) {
      .tools .obstacle {
        text-align: center; } }
    .tools .obstacle strong {
      display: block; }
    .tools .obstacle button {
      display: block;
      margin: 20pt auto;
      width: 60pt;
      height: 60pt;
      background-color: #fff;
      border-radius: 50%;
      border: none; }
      @media screen and (max-width: 800px) {
        .tools .obstacle button {
          margin-top: 5pt;
          width: 40pt;
          height: 40pt; } }
      .tools .obstacle button img {
        width: 20pt; }
  .tools .obstacle-send-success {
    position: absolute;
    top: 100%;
    height: 100%;
    background-color: #e00032; }
  .tools .distance {
    display: none;
    position: absolute;
    top: -40pt;
    left: 10%;
    width: 80%;
    height: 30pt;
    background-color: #fff;
    text-align: center;
    line-height: 30pt;
    border-radius: 15pt;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); }
    @media screen and (max-width: 800px) {
      .tools .distance {
        padding-left: 10pt;
        font-size: 10pt;
        text-align: left;
        line-height: 32pt; } }
    .tools .distance div {
      display: inline-block;
      padding: 0 20px;
      max-width: 50%; }
      @media screen and (max-width: 800px) {
        .tools .distance div {
          padding: 0 10px; } }
    .tools .distance .walk {
      color: #25a92f; }
    .tools .distance .transport {
      color: #4663A1; }

.points-input {
  float: left;
  width: 400pt; }
  @media screen and (max-width: 800px) {
    .points-input {
      width: 70%; } }

.start-point, .end-point {
  margin-bottom: 15pt;
  position: relative; }
  @media screen and (max-width: 800px) {
    .start-point, .end-point {
      height: 20pt; } }
  .start-point a, .end-point a {
    display: block;
    width: 100%;
    text-align: center; }
  .start-point form, .end-point form {
    margin-bottom: 10pt;
    width: 100%; }
  .start-point.active > a, .end-point.active > a {
    display: none; }
  .start-point.active form, .end-point.active form {
    display: block; }
  .start-point *[class^="voice-input"], .end-point *[class^="voice-input"] {
    display: block;
    position: absolute;
    top: -2pt;
    right: 10pt;
    width: 20pt;
    height: 20pt; }
    @media screen and (max-width: 800px) {
      .start-point *[class^="voice-input"], .end-point *[class^="voice-input"] {
        width: 12pt;
        height: 12pt;
        top: 2pt;
        right: 4pt; } }
    .start-point *[class^="voice-input"] img, .end-point *[class^="voice-input"] img {
      width: 100%;
      height: 100%; }
  .start-point .voice-input-stop, .end-point .voice-input-stop {
    display: none; }

.container {
  max-width: 100%; }

.points .point {
  padding: 5px 10px; }
  .points .point > span {
    margin-right: 5px; }

.busPin {
  background-color: #fff;
  border: 3px solid #fff;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); }

/*# sourceMappingURL=style.css.map */
