@import "mixins";

$dark: #363c46;
$salmon: #f97d75;

* {
  box-sizing: border-box;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/* Space out content a bit */
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;

  @media screen and (max-width: 800px) {
    
    background-color: $dark;
  }
}

/* Custom page header */
.header {
  width: 100%;
  height: 60pt;
  background-color: $dark;
  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 60pt;
    padding-bottom: 0;
    color: #fff;
    font-size: 25pt;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
  }
}

/* Custom page footer */
.footer {
  padding-top: 20px;
  color: $salmon;
  text-align: center;
}

// App styles

.container {
  width: 100%;
  padding: 0;
  
  @media screen and (max-width: 800px) {
//    padding-left: 10px;
//    padding-right: 10px;
  }
}

.functions {
  position: fixed;

  a {
    display: block;
    width: 40pt;
    height: 40pt;
    border-radius: 50%;
    background-color: $salmon;
    color: #fff;
    text-align: center;
    line-height: 40pt;
    font-weight: 800;
    font-size: 20pt;

    &:hover {
      background-color: $dark;
      text-decoration: none;
    }
  }
}

#map-canvas {
  position: fixed;
  top: 80px;
  width: 100%;
//  min-height: 600px
}

@media acreen and (max-width:400px) {
  #map-canvas {

  }
}

.tools {
  @extend .clearfix;
  position: fixed;
  width: 100%;
  height: 60px;
  z-index: 150;
  background-color: $salmon;

  .route-points {
    width:100%;
    height: 60px;

    & > * {
      float: left;
      width: 50%;
    }
  }

  a {
    text-align: center;
    color: #fff;
    line-height: 4em;
    text-transform: uppercase;

    &:hover {
      color: $dark;
    }
  }
}

.spoint, .fpoint {
  width: 50%;
  height:60px;
  position: relative;

  a {
    display: block;
    width: 100%;
    text-align: center;
  }

  form {
    display: none;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 60px;
  }

  input {
    position: absolute;
    top:0;
    left:0;
    padding: 0 20px;
    height: 60px;
    width: 100%;
    font-size: 2em;
    border: 2px solid $salmon;
  }

  &.active {
    a {
      display: none;
    }
    form {
      display: block
    }
  }
}

.add-point {
  display: block;
  width: 50%;
}

.container {
  max-width: 100%;
}

.points {
  .point {
    padding: 5px 10px;

    & > span {
      margin-right: 5px;
    }
  }
}

.submit {
  position: fixed;
  display: block;
  width: 100%;
  height: 60pt;
  background-color: $dark;
  color: #fff;
  font-size: 20pt;
  letter-spacing: 1pt;
  font-weight: 800;
  border: none;
  text-transform: uppercase;
  border-left: 2px solid $salmon;
  border-right: 2px solid $salmon;
  border-bottom: 2px solid $salmon;

}