.ObstacleForm {
  position: absolute;
  bottom: -100%;
  left: 50%;
  z-index: 20;
  transform: translateX(-50%);
  padding: 1em;
  width: 400px;
  background-color: #FFEB3B;
  border-radius: 4px;
  transition: bottom .25s;
}

.ObstacleForm.active {
  bottom: 1em;
}

.ObstacleForm__text {
  margin-bottom: 2em;
}

.ObstacleForm__button {
  margin-top: 0.25rem;
}

.ObstacleForm div.basic, .ObstacleForm div.photo, .ObstacleForm div.success {
  display: none;
}
.ObstacleForm .basic.active, .ObstacleForm .photo.active, .ObstacleForm .success.active {
  display: block;
}

.ObstacleForm .has-photo, .ObstacleForm .no-photo {
  display: none;
}
.ObstacleForm .has-photo.visible, .ObstacleForm .no-photo.visible {
  display: block;
}