.ObstacleForm {
  position: absolute;
  bottom: -100%;
  left: 50%;
  z-index: 20;
  transform: translateX(-50%);
  padding: 1em;
  width: 400px;
  background-color: #FFEB3B;
  border-radius: 4px;
  transition: bottom .25s;
}

.ObstacleForm.active {
  bottom: 1em;
}

.ObstacleForm__text {
  margin-bottom: 2em;
}
