.map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
}

.RoundPin {
    text-align: center;
    border-radius: 50%;
    font-weight: bold;
    box-shadow: 0 1px 2px rgba(0,0,0,.3), 0 0 4px rgba(0,0,0,.2), inset 0 -1px 2px rgba(0,0,0,.1);
}

.RouteIcon {
    background-color: #fff;
    line-height: 22px;
}

.ObstacleIcon {
    background-color: #c0392b;
    color: #fff;
    font-size: 12pt;
}